.card{
  width: 50%;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  border: solid 2px #3F51B5;
}
.cardTitle{
  padding: 20px;
  font-size: 1.5em;
  background: #3F51B5;
  color: white;
  text-align: center;
}
.contentContacts{
  padding: 10px 20px 10px 20px;
}
.contactsTable{
  width: 100%;
   border-spacing: 0px;
}
.contactsTable td{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
}
.button{
  border-radius: 10px;
  background-color :#3F51B5;
  padding: 10px;
  color: white;
  width: auto;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
.buttonDeleteRetrieve{
  border-radius: 10px;
  background-color :#F44336;
  padding: 10px;
  color: white;
  width: auto;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
.error{
  color: red;
}
