#conteneur{
  width: 40%;
  position: absolute;
  margin: auto;
  left:0;
  right:0;
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  background-color: #3F51B5;
  color:white;
}
.card{
  border-radius: 10px;
  background-color: #616161;
  position: relative;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  height: 75px;
  line-height: 75px;
}
.information{
  border-radius: 10px;
  position: relative;
  width: 100%;
  text-align: left;
}
.selectionne{
  background-color: #4CAF50;
}
.name{
  position: absolute;
  left:10px;
}
.price{
  position: absolute;
  right: 10px;
}
.showDiv{
  border-radius: 10px;
  position: relative;
  width: 100%;
  text-align: left;
  margin-top: 25px;
  height: 40px;
}
.showLeft{
  position: absolute;
  left:10px;
}
.showRight{
  position: absolute;
  right:10px;
}
